<script src='http://shopping.sandbox.netsuite.com/app/site/query/getcustomermessage.nl?c=749423&n=1&prefixtext=Welcome%20&suffixtext=!&unrecognizedtext=Welcome%20to%20Lux+Research'></script>
</br>
Items in cart: 
<script src='http://shopping.sandbox.netsuite.com/app/site/query/getcartitemcount.nl?c=749423&n=1'></script>
</br>
Total cost of items in cart: <script src='http://shopping.sandbox.netsuite.com/app/site/query/getcarttotal.nl?c=749423&n=1'></script>
<br />
<a href="http://shopping.sandbox.netsuite.com/app/site/query/checkoutredirect.nl?c=749423&n=1&ext=T" target="_blank">Checkout</a>
